<!-- Include Header  -->
<%- include ('includes/header.ejs') %>

<div class="container">
    <div class="row">
        <div style="width: 60%; margin: 0px auto;">
            <div class="card">
                <div class="card-header">
                    <h3><%= campground.name%></h3>
                </div>
                <div class="card-body">
                    <img src="<%= campground.image%>" style="width: 100%; height: 100%;">
                </div>
                <div class="card-footer">
                    <p><%= campground.description %></p>
                </div>
            </div>
        </div>
    </div>
</div><br>

<!-- Include Footer  -->
<%- include ('includes/footer.ejs') %>