<!-- Include Header  -->
<%- include ('../includes/header.ejs') %>

<div class="container-fluid">
    <header class="jumbotron">
        <div class="container-fluid">
            <h1>Welcome to Adventure-Venture!</h1>
            <p>View our handpicked campgrounds from all over the world...</p>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="/campgrounds/new">
                        <button class="btn btn-primary">Add new campgrounds</button>
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <div class="row text-center">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6 mb-3"> 
                <div class="card">
                    <div class="card-header">
                        <h3><%= campground.name%></h3>
                    </div>
                    <div class="card-body">
                        <img src="<%= campground.image%>">
                    </div>
                    <div class="card-footer">
                        <a href="/campgrounds/<%= campground._id%>">
                            <button class="btn btn-primary">
                                More Info
                            </button>
                        </a>
                    </div>
                </div>                
            </div>
        <% });%>
    </div>
</div><br>

<!-- Include Footer  -->
<%- include ('../includes/footer.ejs') %>
